@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  user-select: none;
  transition: 0.3s ease;
}

img {
  display: block;
}

.section1_container {
}

.section1_container .section1 {
  background-image: url("../../Assets/Images/ombsuBanner.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section1_container .section1 .basnner {
  height: 400px;
  width: 100%;
  position: relative;
}

.section1_container .section1 .basnner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section1_container .section1 .basnner .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  padding-right: 7%;
  color: #fff;
}

.section1_container .section1 .basnner .text h1 {
  font-size: 44px;
  color: #fff;
  width: 50%;
  line-height: 1.1;
  text-align: end;
  margin-bottom: 20px;
}

.section1_container .section1 .basnner .text p {
  font-size: 16px;
}

.section2_container {
  margin: 20px 0;
}

.section2_container .section2 {
  padding: 10px 7%;
}

.section2_container .section2 .about {
  margin: 20px 0;
}

.section2_container .section2 .about .left img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.section2_container .section2 .about i {
  margin-right: 10px;
  font-size: 22px;
}

.section2_container .section2 .about .right h1 {
  line-height: 1.2;
  margin-bottom: 20px;
  font-size: 32px;
  color: #2b69da;
  text-decoration: underline;
}

.section2_container .section2 .about .right p {
  margin: 10px 0;
  font-size: 13px;
  display: flex;
}

.section2_container .section2 .about li {
  margin: 15px 0;
  display: flex;
  font-size: 13px;
}

.section3_container {
  margin-top: 50px;
  padding: 10px 7%;
}

.section3_container .section3 {
  /* padding: 0 7%; */
}

.section3_container .section3 .points {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.section3_container .section3 .points .right img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 20px;
}

.section3_container .section3 .points .left h2 {
  font-size: 24px;
  font-weight: 500;
  color: #2b69da;
  line-height: 1;
  margin-bottom: 20px;
}

.section3_container .section3 .points .left ul li {
  margin: 20px 0;
}

.section3_container .section3 .points .left ul li i {
  margin-right: 4px;
}

.section3_container .section3 .points .left ul li h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.section3_container .section3 .points .left ul li p {
  font-size: 16px;
  opacity: 0.8;
  color: #4c474c;
  line-height: 1.2;
  margin: 10px 0;
}

.section3_container .section3 .sg-box {
}

.section3_container .section3 .sg-box h2 {
  font-size: 28px;
  font-weight: 500;
  color: #2b69da;
  margin-bottom: 10px;
  line-height: 1.2;
}

.section3_container .section3 .sg-box ul li p {
  font-size: 16px;
  opacity: 0.8;
  margin: 5px 0;
}

.section3_container .section3 .sg-box ul li i {
  margin-right: 4px;
}

.lg-img {
  height: 450px !important;
}

.section3_container .section3 .points .left ul h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  opacity: 0.7;
}

@media screen and (max-width: 786px) {
  .section1_container .section1 .basnner {
    height: 300px;
  }

  .section2_container .section2,
  .section3_container {
    padding: 10px 5%;
  }

  .section3_container {
    margin-top: 0px;
  }

  .section1_container .section1 .basnner .text {
    padding-right: 5%;
  }

  .section2_container .section2 .about {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .section3_container .section3 .points {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }

  .section3_container .section3 .sg-box {
    padding: 0;
  }
}

@media screen and (max-width: 786px) {
  .section1_container .section1 .basnner {
    height: 300px;
  }

  .section2_container .section2,
  .section3_container {
    padding: 10px 5%;
  }

  .section3_container {
    margin-top: 0px;
  }

  .section1_container .section1 .basnner .text {
    padding-right: 5%;
    justify-content: end;
    padding-bottom: 30px;
  }

  .section1_container .section1 .basnner .text h1 {
    font-size: 22px;
  }

  .section2_container .section2 .about .right h1 {
    font-size: 20px;
  }

  .section1_container .section1 .basnner .text h1 {
    width: 90%;
  }

  .section2_container .section2 .about {
    margin: 0;
  }
}
